<h1>EAT-DA-BURGER!</h1>

<h2>YUMMY!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.plain}}
      {{this.name}}
    {{/unless}}
  {{/each}}
</ul>

<h2>STILL HUNGRY?</h2>

<ul>
  {{#each burgers}}
    {{#if this.plain}}
    {{this.name}}
    <form class="newbutton">
      <input type="hidden" class="burger_id" type="text" value={{this.id}}>
      <button type="submit">ADD MORE TO YOUR PLATE</button>
    </form>
    {{/if}}
  {{/each}}
</ul>

<h2>MORE</h2>
<form method="POST" action="/api/burgers" class="create-form">

  <div class="form-group">
    <label for="ca">Burger Type:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="plain">Plain?</label><br>
    <input type="radio" name="plain" value="1" checked> Plain!<br>
    <input type="radio" name="plain" value="0"> Stacked
  </div>

  <button type="submit">Add Burger</button>
</form>
